<!-- <button (click)="showLifecycle = !showLifecycle">
  Toggle the Display of Lifecycle Component
</button>
<app-lifecycle *ngIf="showLifecycle"></app-lifecycle> -->

<!-- <app-pipe></app-pipe> -->

<!-- <div class="main-container">
  <nav>
    <a routerLink="/list" routerLinkActive="active">Employee List</a>
    <a routerLink="/detail" routerLinkActive="active">Employee Detail</a>
  </nav>
  <div class="row"> -->
<!-- <app-employee-list class="col"></app-employee-list>
    <app-employee-detail class="col"></app-employee-detail> -->
<!-- <router-outlet></router-outlet>
  </div>
</div> -->

<!-- <app-forms></app-forms> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-clock></app-clock> -->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>