<div class="container-fluid" style="width: 30%">
    <div style="display: flex; flex-direction: column; margin-bottom: 45px; margin-top: 100px">
        <img src="../../assets/pics/joolePic.png" style="vertical-align:middle; width: 75%; margin: 0 auto;">
        <b style="margin-top: 20px; color: rgba(0, 0, 0, 0.4); text-align:center; font-size: 25px;">Building Product Selection Platform</b>
    </div>
  
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Username</label>
        <!-- bind class to bootstrap is-invalid class, the condition should be invalid and touched. -->
        <!-- question mark is the safe navigation operator -->
        <input type="text" formControlName="userName" [class.is-invalid]="userName?.invalid && userName?.touched"
          class="form-control">
        <!-- <small class="text-danger" [class.d-none]="userName?.valid || userName?.untouched">Username is required</small> -->
        <!-- separate messages for each scenarios -->
  
        <div *ngIf="userName?.invalid && userName?.touched">
          <small class="text-danger" *ngIf="userName?.errors?.['required']">Username is required</small>
          <small class="text-danger" *ngIf="userName?.errors?.['minlength']">Username must be at least 3
            characters</small>
          <small class="text-danger"
            *ngIf="userName?.errors?.['forbiddenName']">'{{userName?.errors?.['forbiddenName'].value}}'
            username not allowed</small>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="userPassword" class="form-control" [class.is-invalid]="userPassword?.invalid && userPassword?.touched">
        <small class="text-danger" *ngIf="userPassword?.errors?.['required'] && userPassword?.touched">Password is required</small>
      </div>
      <br>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" [class.is-invalid]="registrationForm.errors?.['misMatch']"
          formControlName="confirmPassword" class="form-control">
        <small class="text-danger" *ngIf="registrationForm.errors?.['misMatch']">Passwords do not match</small>
      </div>
      <br>
      <div class="form-group">
        <label>Select Role</label>
        <select class="form-select" formControlName="userRole">
          <option>DESIGNER</option>
          <option>MANUFACTURER</option>
        </select>
      </div>

      <br><br>
      <div style="float: right;">
        <button class="btn btn-primary" [disabled]="!registrationForm.valid" type="submit">Register</button>
        &nbsp;
        <button class="btn btn-danger" (click)="backToLogin()">Cancel</button>
      </div>
      
    </form>    
  
  </div>